body {
  background-color: rgb(194, 243, 243);
  font-family: Georgia, "Times New Roman", Times, serif;
}


#SignIN {
  background-image: url("pastel.jpg");
  width: 300px;
  height: 275px;
  padding-top: 10px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 250px;
  border: 2px solid black;
  overflow:hidden;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 30px;
  border-radius: 20px;
}
/* #SignUP {
  background-image: url("pastel.jpg");
  width: 300px;
  height: 450px;
  padding-top: 10px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 250px;
  border: 2px solid black;
  overflow:hidden;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 30px;
  border-radius: 20px;
} */

h1 {
  width: 100;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  margin-top: 0;
}

#p1{
    width: 330px;
    text-align: center;
}

.input-control {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px;
  margin-left: 0px;
  width: 300px;
  padding: 5px;
}

.input-control input {
  border-radius: 20px;
  border-color: black;
  width: 290px;
  margin-left: 0;
  padding: 5px;
  display: block;
}

.input-control input:focus{
    outline:0;
}

.input-control.success input{
    border-color: rgb(114, 229, 114);
}

.input-control.error input{
    border-color: rgb(146, 41, 41);
}

.input-control .error{
    color: rgb(163, 46, 46);
    font-size: 15px;
    height: 13px;
}

.rmr { 
  text-align: left;
  margin-left: 0%;
  width: 300px;
  padding-top: 0px;
  padding:10px;
}


.rmr input {
  width: 25px;
  margin-left: 0;
  accent-color:rgb(85, 213, 191) ;
}

#SignIN button#submitButton {
  width: 200px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(170, 214, 229);
}
#SignIN button#toggleButton {
  border-color:white ;
  background-color: white;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}
